html {
    color:#6F7276;
}
html, body {
    font-family: SimSun;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
    outline:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
i{ font-style:normal;}
a.btn-disabled,button.btn-disabled,input.btn-disabled,span.btn-disabled{background:#aeaeae;text-shadow:1px 1px 0px #EEE;color:#606060}
fieldset, img {
    border:0;
}
em {
    font-style:normal;
    font-weight:normal;
}
textarea{
    overflow: hidden;
}
li {
    list-style:none;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
body, input, button, textarea, table {
    font-size:13px;
}
input, textarea {
    background:#fff;
    border:1px solid #E2E5E7;
}
input[type=radio],input[type=checkbox]{
    border: inherit;
}
input::-ms-clear {
    display:none;
}
input::-ms-reveal {
    display:none;
}
.b-colorcfc{
    border: 1px solid #47c7ea;
    height: 20px;
    text-indent: 5px;
}
a {
    text-decoration:none;
    outline:none;
    color:#47c7ea;
}
.fakea{
    color:#47c7ea;
    cursor: pointer;
}
a:hover {
    cursor:pointer;
}
th, td {
    vertical-align:top;
}
.ow-text-td td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.bb, .borderbox{
    box-sizing: border-box;
}
.overflow-hide, .of-h{
    overflow:hidden;
}
.rel {
    position:relative;
}
.abs{
    position:absolute;
}
.fix{
    position:fixed;
}
.in-bl {
    display:inline-block;
}
.fw_left, .lt {
    float:left;
}
.fw_right, .rt {
    float:right
}
.fw_clear, .clear {
    clear:both;
}
.fw_hidden, .hide {
    display:none;
}
.im-hide{ display: none!important;}
.fw_overflow, .oflow {
    overflow:hidden;
}
.oflow_visible{
    overflow: visible!important;
}
.fw_middle, .vmdl {
    vertical-align:middle;
}
.vtop{
    vertical-align:top;
}
.fw_relative, .rel {
    position:relative;
}
.ablt {
    position:absolute;
}
.auto0{
    margin:0 auto;
}
.tright {
    text-align:right;
}
.tleft {
    text-align:left;
}
.tcenter {
    text-align:center;
}
.m-top50 {
    margin-top:50px;
}
.bold{
    font-weight:bold;
}
.bw{
    background-color:#fff;
}
.bw-i{
    background-color:#fff!important;
}
.height100{ }
.icon-required{
    color: red;
}
span.app-status {
    color:#7ac700;
}
span.app-status-draft{
    color:#fe631f;
}
span.app-status-unable {
    color:#d3d3d3;
}
.border-none{
    border:none!important;
}
.iblock{ display: inline-block;}
.block{ display: block;}
/*padding*/
.p10{ padding: 10px;}
.p20{ padding: 20px;}
.p-bt0-i{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.p-b0-i{
    padding-bottom:0px!important;
}
.p-b5{
    padding-bottom:5px;
}
.p-b10{
    padding-bottom:10px;
}
.p-b15{
    padding-bottom:15px;
}
.p-b20{
    padding-bottom:20px;
}
.p-b25{
    padding-bottom:25px;
}
.p-t10{
    padding-top:10px;
}
.p-t15{
    padding-top:15px;
}
.p-tb10{
    padding-top:10px;
    padding-bottom:10px;
}
.p-lr-15{
    padding-left:15px;
    padding-right:15px;
}
.p-l-l10 {
    padding-left:110px!important;
}
.p-l-50 {
    padding-left:50px!important;
}
.p-l20 {
    padding-left:20px!important;
}
.p-l15-i {
    padding-left:15px!important;
}
.p-l10-i {
    padding-left:10px!important;
}
/*margin*/
.m0{ margin: 0px!important;}
.m20{ margin: 20px;}
.m-t3{
    margin-top:3px;
}
.m-t5 {
    margin-top:5px;
}
.m-t10 {
    margin-top:10px;
}
.m-t15 {
    margin-top:15px;
}
.m-t20 {
    margin-top:20px;
}
.m-t25 {
    margin-top:25px;
}
.m-t30 {
    margin-top:30px;
}
.m-t40 {
    margin-top:40px;
}
.m-t-22-i{
    margin-top:-22px!important;
}
.m-t-33-i{
    margin-top:-33px!important;
}
.m-tb10 {
    margin-top:10px;
    margin-bottom:10px;
}
.m-5 {
    margin-left:5px;
}
.m-10 {
    margin-left:10px;
}
.m-15 {
    margin-left:15px;
}
.m-l5 {
    margin-left:5px;
}
.m-l10 {
    margin-left:10px;
}
.m-95 {
    margin-left:95px;
}
.m-l15 {
    margin-left:15px;
}
.m-l20 {
    margin-left:20px;
}
.m-l30 {
    margin-left:30px;
}
.m-l40 {
    margin-left:40px;
}
.m-l50 {
    margin-left:15px;
}
.m-l60{
    margin-left:60px;
}
.m-l100 {
    margin-left:100px;
}
.m-l50 {
    margin-left:50px;
}
.m-r5 {
    margin-right:5px;
}
.m-r10 {
    margin-right:10px;
}
.m-r15 {
    margin-right:15px;
}
.m-r20 {
    margin-right:20px;
}
.m-r25 {
    margin-right:25px;
}
.m-r30 {
    margin-right:30px;
}
.m-r40 {
    margin-right:40px;
}
.m-r50 {
    margin-right:50px;
}
.m-b5 {
    margin-bottom:5px;
}
.m-b10 {
    margin-bottom:10px;
}
.m-b15 {
    margin-bottom:15px;
}
.m-b20 {
    margin-bottom:20px;
}
.m-b25 {
    margin-bottom:25px;
}
.m-b30 {
    margin-bottom:30px;
}
/*定位*/
.t15-i{
    top:15px!important;
}
.l0 {
    left:0px;
}
.l5 {
    left:5px;
}
.l10 {
    left:10px;
}
.l15 {
    left:15px;
}
.r0 {
    right:0px;
}
.r5 {
    right:5px;
}
.r10 {
    right:10px;
}
.r15 {
    right:15px;
}
.t0 {
    top:0px;
}
.t10 {
    top:5px;
}
.t15 {
    top:15px;
}
.t15 {
    top:15px;
}
/*行高*/
.l-h20 {
    line-height:25px;
}
.l-h25 {
    line-height:25px;
}
.l-h35-c54{
    line-height: 35px;
    padding: 5px 15px 5px 0;
    color: #545454;
}
.l-h30 {
    line-height:30px;
}
.l-h36 {
    line-height:36px;
}
.l-hh36 {
    height: 36px;
    line-height:36px;
}
.l-h40 {
    line-height:40px;
}
.l-h50 {
    line-height:50px;
}
.l-h75 {
    line-height:75px;
}
.l-h90 {
    line-height:90px!important;
}
/*表单基本样式*/
.i8-form input, .i8-form label, .i8-form select{
    height: 34px!important;
    line-height: 34px;
}
.fw_ksntxtbox .fw_ksninput input{
    height: auto!important;
}
.i8-form input{
    text-indent: 1em;
}
.i8-form td>input{
    /*height: 68%!important;
    line-height:68%!important;*/
}

/*input 样式*/
textarea.hauto{
    height: auto!important;
    line-height: 22px;
}
.h33 {
    height:33px;
}
.h-40 {
    height:40px;
}
.h-45 {
    height:45px!important;
}
.h25-i {
    height:25px!important;
    line-height:25px!important;
}
.perc-8{
    width: 8%;
}
.perc-10{
    width: 10%;
}
.perc-12{
    width: 12%;
}
.perc-15{
    width: 15%;
}
.perc-20{
    width: 20%;
}
.perc-30{
    width: 30%;
}
.perc-40{
     width: 40%;
 }
.perc-48{
    width: 48%;
}
.perc-50{
    width: 50%;
}
.perc-60{
    width: 60%;
}
.perc-80{
    width: 80%;
}
.perc-100{
    width: 100%;
}
.w-357{
    width:357px;
}
.w-365{
    width:365px;
}
.w-343{
    width:343px;
}
.w-270{
    width:270px;
}
.w-540{
    width:540px;
}
.w-518{
    width:518px;
}
.w-740{
    width:740px;
}
.w-720{
    width:720px;
}
.w-257-h36{
    width:261px;
    height:33px;
    line-height:33px;
}
.w-248-h36{
    width:248px;
    height:33px;
    line-height:33px;
}
.w-280-h33{
    width:280px;
    height:31px;
    line-height:31px;
}
.w-128-h33{
    width:128px;
    height:33px;
    line-height:33px;
}
.w-240-h33{
    width:240px;
    height:33px;
    line-height:33px;
}
.w-267-h36{
    width:267px;
    height:34px;
    line-height:34px;
}
.w-305-h36{
    width:305px;
    height:34px;
    line-height:34px;
}
.w-698-h36{
    width:698px;
    height:34px;
    line-height:34px;
}
.w-600-h36{
    width:600px;
    height:34px;
    line-height:34px;
}
.w-20{
    width: 20px;
}
.w-80{
    width: 80px;
}
.w-100{
    width: 100px;
}
.w-100{
    width: 100px;
}
.w-120{
    width: 120px;
}
.w-200{
    width: 200px;
}
.w-150{
    width: 150px;
}
.text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.w-360{
    width: 360px;
}
.w-363-h36{
    width:363px;
    height:34px;
    line-height:34px;
}
.w-370-h36{
    width:370px;
    height:33px;
    line-height:33px;
}
.w-389-h36{
    width:388px;
    height:33px;
    line-height:33px;
}
.w-420{
    width:420px;
}
.w-420-i{
    width:420px!important;
}
.w-900-h36 {
    width:898px;
    height:34px;
    line-height:36px;
}
.w-900 {
    width:898px;
}
.w-750 {
    width:750px;
}
.w-935{
    width: 935px;
}
.w-900-h130 {
    width:898px;
    height:128px;
    line-height:22px;
}
.w-345-h135 {
    width:345px;
    height:135px;
    line-height:22px;
}
.w-520-h36 {
    width:518px;
    height:34px;
    line-height:36px;
}
.w-400-h36 {
    width:398px;
    height:34px;
    line-height:36px;
}
.w-480-h33 {
    width:480px;
    height:31px;
    line-height:31px;
}
.w-590-h33{
    width:590px;
    height:31px;
    line-height:31px;
}
.w-300-h36{
    width:300px;
    height:36px;
    line-height:36px;
}
.w-210-h36{
    width:210px;
    height:36px;
    line-height:36px;
}
.w-270-h33{
    width:270px;
    height:33px;
    line-height:33px;
}
.w-36-h36{
    width:36px;
    height:36px;
}
.w-90-h33{
    width:90px;
    height:33px;
}
.w-695-h36{
    width:695px;
    height:36px;
}
.w-840-h36{
    width:840px;
    height:36px;;
}
.w-860{
    width:860px;
}
.w-830{
    width:830px;
}
.w-682{
    width:682px;
}
.w-70 {
    width:70px!important;
    display:inline-block;
}
.w-76 {
    width:76px;
    display:inline-block;
}
.w-85{
    width:85px;
}
.w-94{
    width:94px;
}
.w-94-h33{
    width:94px;
    height: 33px;
}
.w-150-h33{
    width:150px;
    height: 33px;
}
.w-38 {
    width:38px;
    display:inline-block;
    text-align:center;
}
.w-995-h36{
    width:995px;
    height:34px;
}
.col-key{
    height:36px;
    line-height:36px;
}
/*高度*/
.max-h500{
    max-height:500px;
    overflow:auto;
}
.max-h300{
    max-height:300px;
    overflow:auto;
}
.max-h180{
    max-height:180px;
    overflow:auto;
}
/*字体大小*/
.fz12{ font-size: 12px!important;}
.fz18{ font-size: 18px;}
.b{ font-weight: bold;}
.ft12{
    font-size:12px;
    line-height: 20px;
}
.ft12{
    font-size:13px;
    line-height: 20px;
}
.ft14{
    font-size:14px;
}
.ft14-i{
    font-size:14px!important;
}
.ft16{
    font-size:16px;
}
.ft16-i{
    font-size:16px!important;
}
.ft18{
    font-size:18px;
}
.ft24{
    font-size:24px;
}
.ft30{
    font-size:30px;
}
/*颜色*/
.red {
    color:#ff4a4a;
}
.red-i {
    color:#ff4a4a!important;
}
.blue{
    color:#47c7ea;
}
.blue-i{
    color:#47c7ea!important;
}
.black {
    color:#000;
}
.orange{
    color: #fa8c5c;
}
.green{
    color:#7ac700;
}
.gray{
    color:#c9c9c9;
}
.yellow{
    color: #fbb40e;
}
.green-i{
    color:#7ac700!important;
}
/*背景颜色*/
.b-gray {
    background-color:#f7f7f7;
}
.b-gray2 {
    background-color:#f2f2f2;
}
.white-table-i td{
    background-color:#fff!important;
}

/*边框样式*/
.bd{
    border:1px solid #dfdfdf;
}
.bdradius{
    border-radius: 4px;
}
.no-bd{
    border:none!important;
}
.v--4{
    vertical-align: -4px;
}
.v--7{
    vertical-align: -7px;
 }
/*按钮*/
.edit-icon{
    padding:0px 20px;
}
.yellow-button{
    background-color: #f8b62d;
    color: #fff;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-sizing:border-box;
    padding:0 18px;
    cursor: pointer;
}
.blue-button{
    background-color: #47c7ea;
    color: #fff;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-sizing:border-box;
    padding:0 18px;
    cursor: pointer;
}
.gray-button{
    background-color: #bfbfbf;
    color: #fff;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-sizing:border-box;
    padding:0 18px;
    cursor: pointer;
}

.btn-yellow-h48 {
    background-color:#f8b62d;
    color:#fff;
    font-size:14px;
    height:48px;
    line-height:48px;
    padding:0 35px;
    display:inline-block;
    margin:auto;
    border-radius:5px;
    cursor: pointer;
}
.btn-yellow-empty-40 {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 182, 45);
    height: 40px;
    line-height: 36px;
    display: inline-block;
    border-radius: 5px;
    border: 3px solid rgb(248, 182, 45);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-align: center;
    box-sizing: border-box;
    padding: 0px 18px;
    cursor: pointer;
    vertical-align: top;
}
.btn-yellow-h40 {
    background-color:#f8b62d;
    color:#fff;
    font-size:14px;
    height:40px;
    line-height:40px;
    padding:0 35px;
    display:inline-block;
    margin:auto;
    border-radius:5px;
    cursor: pointer;
}
.btn-yellow-h32 {
    background-color:#f8b62d;
    color:#fff;
    height:32px;
    line-height:32px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.btn-yellow-h36 {
    background-color:#f8b62d;
    color:#fff;
    height:36px;
    line-height:36px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.btn-blue-h36 {
    background-color:#47c7ea;
    color:#fff;
    height:36px;
    line-height:36px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.btn-blue-h32 {
    background-color:#47c7ea;
    color:#fff;
    height:32px;
    line-height:32px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.btn-blue-h26 {
    background-color:#47c7ea;
    color:#fff;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    display:inline-block;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.btn-blue-empty-h32{
    background-color:#fff;
    border:2px solid #47c7ea;
    box-sizing:border-box;
    color:#47c7ea;
    height:32px;
    line-height:30px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    cursor: pointer;
    vertical-align:top;
}
.btn-blue-empty-h36{
    background-color:#fff;
    border:2px solid #47c7ea;
    box-sizing:border-box;
    color:#47c7ea;
    height:36px;
    line-height:34px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    cursor: pointer;
    vertical-align:top;
}
.btn-yellow-empty-h36{
    background-color:#fff;
    border:2px solid rgb(248, 182, 45);
    box-sizing:border-box;
    color:rgb(248, 182, 45);
    height:36px;
    line-height:34px;
    padding:0 20px;
    display:inline-block;
    border-radius:5px;
    cursor: pointer;
    vertical-align:top;
}
.btn-blue-h48 {
    background-color:#47c7ea;
    color:#fff;
    font-size:14px;
    height:48px;
    line-height:48px;
    padding:0 35px;
    display:inline-block;
    margin:auto;
    border-radius:5px;
    cursor: pointer;
}
.btn-white-h25 {
    background-color:#fff;
    color:#404040;
    height:25px;
    line-height:25px;
    padding:0 20px;
    margin-right: 10px;
    float: left;
    border-radius:5px;
    border:1px solid #d4d4d4;
    cursor: pointer;
}
.blue96x32,.gray96x32{ text-align: center; width: 96px; height: 32px; display: inline-block; color: #fff; background: #49C7EA; line-height: 32px; border-radius: 3px; cursor: pointer;}
.gray96x32{ background: #BFBFBF;}
.blue96x32.disabled{ background: #BFBFBF; cursor: default;}
.hd-communitys .namespan{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 85px;
    vertical-align: middle;
}
.avoid{
    border-color: #BFBFBF!important;
    background-color: #BFBFBF!important;
    color: #fff!important;
}
.new-folder-cont .select-gray-box2{
     position:absolute;
 }
.parent_power_item{
    clear:both;
}
/******************从tips挪过来的样式****************/
.app-header{}
/*头部*/
.app-header {
    width: 100%;
    border-bottom: 2px solid #47c7ea;
    background: #fff;
    z-index: 100;
    -moz-box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
    box-shadow:0 0 5px 2px rgba(0,0,0,0.2);
    top: 0px;
}
.rootskin .app-header{
    background-color: #3b4d5f;
}
.rootskin .app-header-top{
    background-color: #000000;
    color: #fff;
    border: none;
}

.app-header.fixed{ position: fixed; top:0px; left: 0px; height: 60px;}
.app-header.fixed .app-header-top{ display: none;}
.app-header.fixed .app-header-main{ padding: 10px 0px;}
.app-header.fixed ul.my-system li{ padding: 14px 18px;}
.app-header.fixed ul.my-system{ height: auto; margin-top: -10px;}
.app-header.fixed .app-cp-logo{ height: auto;}
.app-header.fixed ul.my-system li.my-search{ padding: 0px;height: 58px}
.app-header.fixed ul.my-system .my-search .my-search-link{
    padding-top: 15px;
}
.app-header.fixed ul.my-system li.my-search a.icon-search-gray{ top: 20px;}
.app-header-top{
    height:32px;
    line-height:32px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    background-color:#f7f7f7;
}
.login-info{
    width: 1200px;
    margin:auto;
}
.login-info a{
    color:#47c7ea;
    padding:0 5px;
}

.app-header-main{
    padding:20px 0;
    width: 1200px;
    margin:auto;
    height:40px;
}
.app-header.in-my-control{
    background-color: #2e4052;
}
.detail-page .app-header-main{
    padding:10px;
    height: 60px;
}
.app-logo{
    float:left;
    background: url('../images/logo.png') 0 0 no-repeat;
    width: 137px;
    height: 54px;
}
.app-cp-logo{height: 60px; width: 150px; float: left; margin-top: -10px;}
.app-cp-logo img{max-height: 60px;max-width: 250px;}
.logo-link{max-height: 70px; white-space: nowrap; text-overflow: ellipsis; display: block; font-size: 20px; line-height: 60px; overflow: hidden;}
.hd-communitys{ position: absolute; top: 73px; left: -1px; display: none; box-shadow: 0px 1px 4px #c9c9c9; z-index: 100; border-radius: 0px 0px 5px 5px; width: 170px; background: #fff; }
.fixed .hd-communitys{ top: 62px;}
.hd-communitys a{ padding: 10px; line-height: 21px; display: block; color: #000;}
.hd-communitys a span{ display: inline-block; width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.hd-communitys a:hover{background: #f7f7f7;}
ul.app-mapsite{float: left; margin:5px 0 0 29px;}
.app-header-main2 ul.app-mapsite{
    margin:5px 0 0 52px;
}
ul.app-mapsite li{
    float: left;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
}
ul.app-mapsite li a{
    color:#000;
    margin-right: 30px;
    padding:0px 18px;
    text-align:center;
    height:30px;
    display: block;
    line-height: 30px;
}
.app-header-main2 ul.app-mapsite li a{
    margin-right: 10px;
    color: #fff;
}
.app-header-main2 ul.app-mapsite li a.building{
    color: #5a6c7f;
}
ul.app-mapsite li a.current,ul.app-mapsite li a:hover{
    background:#47c7ea;
    border-radius: 5px;
    color:#fff;
}
ul.app-mapsite li a.building:hover{
    background:none;
}
.app-funs{float: right; width: 255px;}

.app_top_search_btn,.app_top_search_mask,.my-info>a,.my-message>a,.my-set>a,a.footer-phone,a.footer-qq{
    background-image:url(../images/header_sprite.png);
    background-repeat:no-repeat;
}
.app_top_search{float: left;
    background-color: transparent;
    height: 28px;
    width: 270px;
    position: relative;
    margin: 10px 0 0 0px;}
.app_top_search span.app_top_search_btn{ cursor:pointer;}
.app_top_search_input{ border: none!important; outline: none; background: transparent!important; color: #fff; width:213px; margin:0px; height:28px; color:#666; *margin-left: -20px; padding: 0px 0px 0px 5px; left: 0px; top:0px;}
.app_top_search_mask{ background-position: -28px -0px; display: block; width: 270px; padding-left: 10px; line-height: 30px; padding-bottom: 7px;height: 23px; position: absolute; top: 0px; left: 0px; cursor: pointer;}
.app_top_search_btn{ display: block; width: 15px; height: 16px; position: absolute; right: 17px; top: 5px;}
ul.my-system{
    float: right;
    height: 80px;
    margin-top: -20px;
}
ul.my-system li{
    float:left;
    padding: 24px 18px;
    position: relative;
    border: 1px solid transparent;
}
/*ul.my-system li.my-search{
    padding: 20px 18px;
}
ul.my-system li.my-search .icon-search-gray{
    right: 8px;
    top: 27px;
    z-index: 100;
}*/
ul.my-system li.my-search .app_top_search{
    display: none;
}
/*ul.my-system li.my-search:hover .app_top_search{
    display: block;
}*/

ul.my-system li:hover{ background: #F2F2F2; border-color: #E6E6E6;}
ul.my-system li:hover div.my-system-menu{
    display: block;
}
div.my-system-menu,.system-message-div{
    position: absolute;
    width: 133px;
    top: 75px;
    box-shadow: 0px 1px 2px #c9c9c9;
    z-index: 91;
    border-radius: 0px 0px 5px 5px;
    left: -1px;
    display: none;
    border-top: 6px solid transparent;

}
.app-header.fixed div.my-system-menu{ top: 55px;}
.app-header.fixed div.system-message-div{ top: 52px;}
.system-message-div{
    z-index: 90;
    border-radius: 0px 0px 5px 5px;
    top: 62px;
    left: 177px;
    border-top: none;
}
div.my-system-menu i{
    background-image: url(../images/sprite-hdmenu.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 13px;
    /*vertical-align: middle;*/
    vertical-align: -3px;
}
.sp-menu-close{ background-position: 0 0; width: 16px; height: 16px; }
.sp-menu-hd1{ background-position: 0px -507px; width: 16px; height: 16px; }
.sp-menu-hd2{ background-position: 0 -586px; width: 16px; height: 17px; }
.sp-menu-hd3{ background-position: 2px -667px; width: 16px; height: 16px; }
.sp-menu-hd4{ background-position: 0 -144px; width: 16px; height: 16px; }
.sp-menu-hd5{ background-position: 0 -180px; width: 16px; height: 16px; }
.sp-menu-hd6{ background-position: 0 -216px; width: 16px; height: 16px; }
.sp-menu-hd7{ background-position: 0 -252px; width: 16px; height: 16px; }
.sp-menu-hd8{ background-position: 0 -288px; width: 16px; height: 16px; }
.sp-menu-hd9{ background-position: 0 -333px; width: 16px; height: 16px; }

div.my-system-posi{
    position: absolute;
    height: 10px;
    width: 130px;
    background: transparent;
    top: -5px;
    display: none;
}
div.my-system-menu a, .system-message-div a{
    display: block;
    padding: 10px 0px;
    padding-left: 12px;
    color: #000;
    background: #fff;
}
.my-tips-num{
    margin-right: 5px;
    color: #F8B62F;
}
.my-tps-close{
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(../images/sprite-hdmenu.png) no-repeat  5px 5px;
    top: 0px;
    cursor: pointer;
    right: 0px;
}
div.my-system-menu a:hover{
    background: #e6e6e6;
}
ul.my-system li>a{
    display:block;
    width:40px;
    height:30px;
}
ul.my-system li.my-info>a{
    float:left;
    background-position: -355px -5px;
}

ul.my-system li.my-message>a{
    float:left;
    background-position: -442px -5px;
    width: 25px;
    margin-right: 15px;
}
ul.my-system li.news>a{
    width: 40px;
    margin-right: 0px;
}
ul.my-system li.my-set>a{
    float:left;
    background-position: -521px -5px;
}
.app-head-notice{ background: #FFFBF3; border-top: 1px solid #DDD1B7; border-bottom: 1px solid #DDD1B7; line-height: 33px; font-size: 13px; font-weight: bold; position: absolute; top: 0px; left: 0px; width: 100%; z-index: 101;}
.wk-red-tps{ position: absolute; background: red; color: #fff; width: 20px; height: 20px; top: -10px; right: -0px; font-style:normal; line-height: 20px; text-align: center; font-size: 12px; border-radius: 10px;}
.endtime-tps{ width: 700px; height: 32px; text-align: right;}
.endtime-tps>span{ display: block; transition: margin-top 0.8s ease;}
/*右下角提醒*/
.home-schedule-box{
    position: fixed;
    bottom: 10px;
    margin-left: 897px;
    height: 54px;
    width: 219px;
    font-size: 13px;
    z-index: 9999;
    background-image: url('../images/home-tipbg.png');
    background-repeat:no-repeat ;
    padding-left: 70px;
    padding-top: 8px;
    line-height: 20px;
    padding-right: 15px;
    color: #545454;
}
#prev_schedule{
    padding-right: 0px;
}
.home-schedule-close{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icon.png');
    background-repeat:no-repeat ;
    background-position: -12px -6311px;
}
.home-schedule-title, .home-schedule-time{
    width: 180px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-overflow: ellipsis;/* IE/Safari */
}
.home-schedule-index{
    color: #f8b62d;
}
.home-schedule-index-box{
    position: absolute;
    right: 20px;
    bottom: 15px;
}
.nextandprev{
    margin-right: -6px;
}
.sprite-94{ background-position: -783px -182px; width: 10px; height: 10px;padding: 5px; cursor: pointer; }
.sprite-93{ background-position: -744px -183px; width: 10px; height: 10px; padding: 5px; cursor: pointer;}
.sprite-93.disabled{ background-position: -823px -182px; cursor: default;}
.sprite-94.disabled{ background-position: -864px -183px; cursor: default;}
.spbg1{
    background-image: url(../images/sprite1.png);
    display: inline-block;
    z-index: 1;
    position: relative;
}
.sprite-115{ background-position: -1229px -186px; width: 17px; height: 17px;}
.sprite-116{ background-position: -1273px -187px; width: 17px; height: 17px;}
.sprite-117{ background-position: -1291px -187px; width: 17px; height: 17px;}
.sprite-87{ background-position: -400px -183px; width: 21px; height: 21px; }
/*到期提醒*/
.time-over{ border: 2px solid #F02149; border-radius: 5px;  width: 900px; position: fixed; background: #FFFBF3; z-index: 1000; top: 50%; left: 50%; margin-top: -200px; margin-left: -450px;}
.time-over-cont{ margin-left: 250px;}
.time-over-bg1{ background: url("../images/login/end1.png"); width: 191px; height: 209px; display: block; margin-left: 35px; margin-top: 40px;}
.time-over-ul{ background: url("../images/login/end2.png") no-repeat left top; line-height: 35px; padding-left: 45px;}
.time-over-ul li{ margin-bottom: 12px;}
.time-over-cont h2{ font-size: 16px; color: #F02149; font-weight: bold; margin-top: 55px; margin-bottom: 25px;}
.time-over-cont h3{ font-size: 13px;}
.cmt-names{ width: 300px; height: 33px; line-height: 33px; padding: 0px 10px; display: block; background: #fff; border: 1px solid #cbcbca; font-size: 13px; color: #000;}

span.sprite-115{ position: absolute; top: 20px; left: 155px; z-index: 100; display: none; cursor: pointer; transition: all 0.6s ease;}
.sprite-115.up{ transform: rotate(180deg);}
.hd-communitys .sprite-87{ display: none; vertical-align: top; margin-left: 10px;}
.hd-communitys .sprite-116,.hd-communitys .sprite-117{ float: right; margin-top: 3px;}
.hd-communitys a.current{ background: #EBEBEB;}
.hd-communitys a.current .sprite-87{ display: inline-block;}

/******************从tips挪过来的样式****************/

/*右侧留言的按钮样式*/
.fixed-btns{ width: 36px; position: fixed; right: 0px; top: 50%; margin-top: -70px; z-index: 101;}
.fixed-btn-op{ margin-bottom: 10px; position: relative;}
.fixed-btn-op span{ width: 36px; height: 36px; display: block; z-index: 10; position: relative; background: url(../images/helpbtn.png) no-repeat;}
span.helpbtn2{ background-position: 0px -44px;}
span.helpbtn3{ background-position: 0px -88px;}
.fixed-btn-op p, .fixed-btn-op .animate{ background: #000; height: 36px; width: 100px; line-height: 36px; color: #fff; z-index: 1; border-radius: 19px 0px 0px 19px; position: absolute;}
.fixed-btn-op p{ opacity: 0.6; filter: alpha(opacity=60);}
.fixed-btn-op a{ background: transparent; color: #fff; font-size: 13px; display: block; line-height: 36px; text-align: center; font-weight: normal; position: relative; z-index: 10; opacity: 1;}
.fixed-btn-op .animate{ width: 0px; top: 0px; position: absolute; background: transparent; right: 20px; overflow: hidden;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s; }
.fixed-btn-op:hover .animate{ width: 90px;}

.overflow-table td{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding-right: 10px;
}
td .fc-event.nobackground{
    background: none;
}
td .fc-event.nobackground.black{
    color: #000!important;
    text-indent: 4px;
}

.fc-event-container .gray{
    color: #808080;
}
.disablehover .fc-day-grid-event{
    cursor: default!important;
}
