body{
    font-size: 13px;
    overflow: hidden;
}
a{
    color: #47C7EA;
    cursor: pointer;
}
.sentblog{
    border: 1px solid #dadada;
}
.blog-box{
    border: 1px solid #dadada;
    margin-top: 15px;
}
.blog-title{
    border-bottom: 1px solid #dadada;
    color: #000;
    line-height: 30px;
    font-weight: bold;
    padding: 10px 20px;
}
.blog-panel{
    padding: 20px;
    line-height: 30px;
}
.headimg{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
}
.textarea{
    width: 100%;
    height: 30px;
    border: 1px solid #dadada;
}
.publish{
    width: 140px;
    margin-top: 10px;
    cursor: pointer;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 16px;
    background-color: #f8b62d;
    color: #fff;
    display: block;
    border-radius: 4px;
}
.left-text{
    float: left;
    width: 360px;

    padding-left: 20px;
}
.left-text .name{
    display: block;
    font-weight: bold;
}
.left-text .content{
    display: block;
}
.right-option{
    float: left;
    width: 100px;
}
.right-option .date{
    display: block;
}
.right-option .option{
    display: block;
}
.right-option a{

}

.reply-box{
    clear: both;
    margin-top: 10px;
    overflow: hidden;
}
.subpublish{
    float: right;
    background-color: #47C7EA;
    color: #fff;
    width: 100px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin-top: 10px;
    border-radius: 4px;
}
.delete{
    padding-right: 10px;
}
.clear{
    clear: both;
}
/*分页样式*/
.cutepage {
    padding:8px 0px 8px 0px;
    position:relative;
    text-align:right;
    padding:8px 0px;
}
.cutepage .disabled {
    display:none;
}
.cutepage a.selected {
    background:#47c7ea;
    color:#fff!important;
    text-decoration:none;
    border-color:#47c7ea;
    font-weight:bold;
}
.cutepage a {
    width:28px;
    display:inline-block;
    height:28px;
    line-height:28px;
    color:#808080!important;
    text-align:center;
    border:1px solid #d4d4d4;
    border-radius:5px;
    text-decoration:none;
    margin-right:5px;
}
.cutepage input.jumpnum {
    display:inline-block;
    height:25px;
    width:25px;
    margin-right:5px;
    text-align:center;
    line-height: 25px;
}